*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,Segoe UI;
}

body{
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
}

/* Navbar */
.navbar{
  position:fixed;
  top:0;
  width:100%;
  padding:20px 40px;
  display:flex;
  justify-content:space-between;
  backdrop-filter:blur(10px);
}

/* Hero */
.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-box{
  animation:fadeUp 1s ease;
}

.hero h1{
  font-size:60px;
}

.hero button{
  padding:15px 40px;
  border:none;
  border-radius:30px;
  background:#00d2ff;
}

/* Animation */
@keyframes fadeUp{
  from{opacity:0;transform:translateY(40px);}
  to{opacity:1;}
}
